@import '../styles/reset.scss';

.pixie-background {
    width: 100%;
    height: 100vh;

    position: fixed; 
    top: 0;
}

#pixie {
    width: 100%;
    height: 100vh;
    z-index:0;
    background:-moz-linear-gradient(top, #040429, #257eb7);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#040429), color-stop(100%,#257eb7));
}
// #mountains, #grass {
//     width:100%;W
//     position:absolute;
//     bottom:0;
// }
// #mountains {
//     height:156px;
//     z-index:1;
//     background:url(mountains.png) repeat-x 0 0;
// }
// #grass {
//     height:62px;
//     z-index:2;
//     background:url(grass.png) repeat-x left 10px;
// }

.main {
    width: 100%;

    position: absolute;
    top: 0;
    font-size: 20px;

    background-color: transparent;
    transition: 0.5s all;
    z-index: 899;
}



.main-arrow-up {
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 60px;
    right: 15px;
    cursor: pointer;

    border-radius: 50px 50px 0 0;
    background-color: $white;
    transition: 0.3s all;
    z-index: 899;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50px 50px 0 0;
    }
}
.main-arrow-up:hover {
    filter: invert(18%) sepia(12%) saturate(703%) hue-rotate(125deg) brightness(94%) contrast(89%);
    background-color: $main;
    transition: 0.3s all;
}
.main-arrow-bottom {
    width: 50px;
    height: 50px;

    position: fixed;
    bottom: 10px;
    right: 15px;
    cursor: pointer;

    border-radius: 0 0 50px 50px;
    background-color: $white;
    transition: 0.3s all;
    z-index: 899;

    img {
        width: 50px;
        height: 50px;
        border-radius: 0 0 50px 50px;
    }
}
.main-arrow-bottom:hover {
    filter: invert(18%) sepia(12%) saturate(703%) hue-rotate(125deg) brightness(94%) contrast(89%);
    background-color: $main;
    transition: 0.3s all;
}

.main-link {
    height: 600px;
    position: absolute;
}

.main-title {
    width: 500px;
    height: 100px;

    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}
.main-subtitle {
    width: 500px;
    height: 60px;

    text-align: center;
    color: #fff;
    a {
        color: #fff;
    }
}

.main-slider {
    width: 500px;
    height: 500px;

    border-radius: 50%;
    background-color: #040429;
    box-shadow: 0 0 30px #040429;
}

.slider-image {
    width: 500px;
    height: 500px;
    background-color: #000;
}

@media (max-width: 767px) {
    
}