@import "../styles/reset.scss";

.header {
    width: 480px;
    height: 50px;
    
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    
    overflow: hidden;

    border-radius: 20px;
    background-color: $white;
    z-index: 900;
}
.header-main {
    display: flex;
}

.header-box {
    width: 120px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;

    text-align: center;
    transition: 0.3s all;
}
.header-box:hover {
    background-color: $main;
    transition: 0.3s all;
}
.header-box-action {
    background-color: $main;
}

.header-hr {
    display: none;
}

@media (max-width: 767px) {
    .open-sidebar-menu {
        width: 22px;
        height: 22px;
        top: 12px; left: 14px;
        
        cursor: pointer;
        position: absolute;
        opacity: 0;
        z-index: 999;
    }
    .sidebar-icon-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
    
        transition: all 0.3s;
        box-sizing: border-box;
        z-index: 998;

        width: 22px; height: 22px;
        margin: 18px;
    }
    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: $white;
    }
    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }
    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }
    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    input[type=checkbox]:checked ~ .sidebar-icon-toggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }
    input[type=checkbox]:checked ~ .sidebar-icon-toggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }
    input[type=checkbox]:checked ~ .sidebar-icon-toggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }
    

    .header {
        width: 100%;
        height: 100%;
        
        top: 0;
        display: grid;

        border-radius: 0;
        background-color: $black-opacity;
        transition: 0.3s all;
        div {
            margin: auto;
        }
    }
    .header-main {
        width: 100%;
        display: block;
    }
    
    .header-box {
        width: 100%;
        margin: auto;
        color: $white;
        transition: 0.3s all;
    }
    .header-box:hover {
        color: $main;
        background-color: transparent;
        transition: 0.3s all;
    }
    .header-box-action {
        color: $main;
        background-color: transparent;
        text-shadow: 0 0 10px $black;
    }

    .header-hr {
        width: 90%;
        display: block;
        border: 1px solid rgb(175, 175, 175, 0.3);
    }

    .header-show {
        // display: none;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s all;
    }
}
